body {
  padding-top: 50px;
  background-image: url('assets/food.png');
}

.glyphicon-remove {
  float: right;
}

.glyphicon-remove:hover {
  color: red;
}

#recipeTitle {
  margin-bottom: 20px;
}

.recipe-panel {
  margin-top: 25px;
}

.submit-recipe {
  float: right;
}