<div ng-controller='nutritionController'>
  {{nutrients.data}}

  <div class='panel panel-success recipe-panel'>
    <div class="panel-heading">
      {{title || 'Nutritional Facts'}}
        <input class='pull-right' id='liveSearch' type='text' placeholder='Live-search' ng-model='searchNutrition'>
    </div>
    <div class="panel-body">

      <table class='table table-striped'>
        <th>Label</th>
        <th>Quantity</th>
        <th>Unit</th>
        <tr ng-repeat='(name, value) in nutrients | toArray | filter:searchNutrition'>
          <td>{{value.label}}</td>
          <td>{{value.quantity | number : 2}}</td>
          <td>{{value.unit}}</td>
        </tr>
      </table>

    </div>
  </div>

</div>