<div ng-controller='recipesController'>

  <div class='panel panel-info' ng-repeat='recipe in recipes'>
    <div class='panel-heading'>
      {{recipe.title}}
    </div>
    <div class='panel-body'>

      {{recipe.ingr}}    

      <button type='button' class='btn btn-primary pull-right' data-toggle='modal' data-target='#{{recipe._id}}' ng-click='populateModal(recipe)'>
        View Nutrition Info
      </button>
      <div class='modal fade' id='{{recipe._id}}' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
        <div class='modal-dialog' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
              <h4 class='modal-title' id='myModalLabel'>{{recipe.title}}</h4>
            </div>
            <div class='modal-body'>

              <table class='table table-striped'>
                <th>Label</th>
                <th>Quantity</th>
                <th>Unit</th>
                <tr ng-repeat='(name, value) in currentNutrients | toArray | filter:searchNutrition'>
                  <td>{{value.label}}</td>
                  <td>{{value.quantity | number : 2}}</td>
                  <td>{{value.unit}}</td>
                </tr>
              </table>



            </div>
            <div class='modal-footer'>
              <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>